@import '~antd/dist/antd.css';


.appContainer {
    margin-left: 2vh;
    margin-right: 2vh;
}

.ant-spin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2vh;
}

.ant-notification-notice {
    background: #303030 !important;
}

.ant-notification-notice-message {
    color: #03dac6
}